/*--Stylizacja karty postaci strona 2--*/

table td > span {
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
}

.inventory-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*--sekcja top_2--*/

#top_2 {
	width: 1076px;
	margin-top: 20px;
	margin-left: 58px;
}

#skill_2 {
	float: left;
	margin-right: 15px;
}

#skill_2 th {
	width: 220px;
}

#skill_2 td {
	height: 312px;
}

#other_info {
	width: 400px;
}

#other_info td {
	height: 40px;
	vertical-align: top;
	padding-top: 5px;
	padding-left: 5px;
}

#other_info #blesses {
	width: 200px;
	height: 232px;
}

/*--Sekcja middle_2--*/

#middle_page_2 {
	width: 1076px;
	margin-left: 58px;
	margin-top: 15px;
}

#inventory {
	width: 100%;
}

#inventory .inv {
	width: 332px;
}

#inventory .place {
	width: 93px;
}

#inventory .obc {
	width: 57px;
}

#inventory td {
	height: 558px;
}

#inv_sum {
	width: 100%;
	border-top: none;
}

#inv_sum td, #inv_sum th {
	height: 40px;
	width: 12.5%;
	border-top: none;
}

/*--Sekcja bottom_2--*/

#bottom_2 {
	margin-left: 58px;
	margin-top: 15px;
}

#bottom_left_2 {
	float: left;
	width: 311px;
}

#movement {
	width: 100%;
	margin-bottom: 24px;
}

#movement th:first-child {
	width: 123px;
}

#tracking {
	width: 100%;
}

#tracking #a {
	width: 96px;
}

#bottom_middle {
	float: left;
	width: 363px;
	margin-left: 21px;
}

#range_of_motion {
	width: 100%;
	margin-bottom: 15px;
}

#range_of_motion th:first-child {
	width: 144px;
}

#range_of_motion td {
	text-align: center;
	font-style: italic;
	font-family: cursive; 
}

#languages {
	width: 100%;
	margin-bottom: 20px;
}

#languages td {
	height: 119px;
	vertical-align: top;
	padding-top: 5px;
	padding-left: 5px;
}

#psyche_mutation {
	width: 100%;
	margin-bottom: 15px;
}

#psyche_mutation td:first-child {
	width: 80%;
	height: 105px;
}

#psyche_mutation th, #psyche_mutation td {
	text-align: left;
	vertical-align: top;
	height: 105px;
}

#psyche_mutation th {
	padding-top: 5px;
	padding-left: 5px;
}

#bottom_right {
	float: left;
	width: 388px;
	height: 530px;
	background: url("../img/dwarf.jpg");
}
/*--------------------------------
/*|-trzecia strona karty postaci-|
/*--------------------------------*/

/* -- tabele ogólnie -- */

.tables-3 {
	width: 1106px;
	margin: 0 auto;
}

#company {
	height: 156px;
	margin-top: 20px;
}

#company th {
	width: 40px;
}

#company th:first-of-type {
	width: 326px;
}

#company th {
	width: 55px;
}

#img-3 {
	margin: 0 auto;
	margin-top: 30px;
	width: 656px;
	height: 448px;
	background: url('../img/img-3.jpg');
}

#allies_enemy {
	margin-top: 30px;
}

#allies_enemy th:first-of-type {
	width: 344px;
}

#allies_enemy th:nth-of-type(2) {
	width: 164px;
}

#allies_enemy th:nth-of-type(3) {
	width: 110px;
}

#allies_enemy th:nth-of-type(4) {
	width: 295px;
}

#allies_enemy tr:nth-child(2) td {
	height: 306px;
}

#allies_enemy tr:last-of-type td {
	height: 167px;
}

#magic-items {
	height: 341px;
	margin-top: 24px;
}

#magic-items th:first-of-type {
	width: 208px;
}

#magic-items th:nth-of-type(2), #magic-items th:nth-of-type(3){
	width: 68px;
}

#magic-items th:nth-of-type(4), #magic-items th:nth-of-type(5) {
	width: 79px;
}

/*----------------------
 * czwarta strona karty|
 * ---------------------
*/

#casts {
	height: 643px;
	margin-top: 10px;
}

#casts th:first-of-type {
	width: 229px;
}

#casts th:nth-of-type(2) {
	width: 68px;
}

#casts th:nth-of-type(3), #casts th:nth-of-type(4), #casts th:nth-of-type(5) {
	width: 80px;
}

#casts th:nth-of-type(6) {
	width: 213px;
}

#img-4 {
	background: url('../img/img-4.jpg');
	height: 504px;
}

#important_info {
	height: 193px; 
	margin-top: 20px;
}

#money {
	height: 194px;
	margin-top: 20px;
}

#money th:first-of-type {
	width: 114px;
}

#money th:nth-of-type(2) {
	width: 113px;
}

#money th:nth-of-type(3) {
	width: 435px;
}

.moveBar {
	position: absolute;
	top: 100px;
	background-color: white;
}

.fixed {
	position: fixed;
	top: 0;
}

.trade-radio {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid black;
}

.trade-radio:last-of-type {
	border-right: none;
}

#search_monster {
	margin-right: 10px;
	float: right;
}

.search-btn {
	float:right;
	border-radius: 8px; 
	border:none; 
	padding: 3.5px 5px;
}

/*-- admin panel menu --*/

#menu {
	display: block;
	list-style-type: none;
}

#menu li {
	float: left;
	padding: 3px;
	border-right: 1px solid black;
}

#menu li:first-child {
	margin-left: 0;
}

#menu li:last-child {
	margin-right: 0;
	border-right: none;
}

/*-- ukrywanie elementów --*/

#one-hand, #two-hand, #ranged, #prof-armour, #daily, #pets, .c-items, .prof-type, .prof-stats, .prof-skills, .prof-items, .show-result, .prof-exits {
	color: black;
	text-decoration: underline;
	cursor: pointer;
	max-width: 200px;
}

#one-hand:hover, #two-hand:hover, #ranged:hover, #prof-armour:hover, #daily:hover, #pets:hover, .c-items:hover, .prof-type:hover, .prof-stats:hover, .prof-skills:hover, .prof-items:hover, .show-result:hover, .prof-exits:hover {
	text-decoration: none;
	color: #4169E1;
}

.hide-items {
	text-decoration: underline;
	padding: 8px;
	cursor: pointer;
}

.hide-items:hover {
	text-decoration: none;
	color: red;
}