/*Plik css do projektu Warhammer*/
/*Autor: Paweł Hojwa*/

#mainPage {
  width: 1193px;
}

#ramka_gora {
  height: 36px;
  background: url("../img/ramka_gora.jpg");
}

#ramka_lewa {
  height: 1612px;
  width: 38px;
  background: url("../img/ramka_lewa.jpg");
  margin-top: -1px;
  float: left;
}

#ramka_prawa {
  height: 1612px;
  width: 37px;
  background: url("../img/ramka_prawa.jpg");
  margin-top: -1px;
  margin-right: 1px;
  float: right;
}

#logo {
  width: 414px;
  height: 63px;
  background: url("../img/logo.jpg");
  margin-left: auto;
  margin-right: auto;
}

#top {
  height: 652px;
}

#top_left {
  width: 422px;
  float: left;
}

#obraz_gora {
  width: 422px;
  height: 133px;
  background: url("../img/obraz_1_gora.jpg");
}

table {
  border-collapse: collapse;
}

table ,th ,td {
  border: 1px solid black;
  font-size: 14px;
}

table th {
  background-color: #bfbfbf;
  height: 40px;
  text-align: center;
}

#tl_table {
  width: 414px;
  height: 521px;
  margin-left: 8px;
}

#tl_table ul.skill_list {
	width : 100%;
	list-style-type: none;
	padding:3px;
	margin:0;
	font-size: 14px;
}

.skill_list li {
	text-decoration: underline;
}

#top_right {
  width: 690px;
  float: right;
}

#tr_table {
  width: 656px;
  height: 324px;
  margin-top: 16px;
  margin-left: 34px;
}

#tr_table td {
	padding-left: 5px;
}

label {
  font-weight: bold;
}

#stats {
  width: 656px;
  height: 278px;
  margin-top: 23px;
  margin-left: 34px;
}

#stats th, #stats td {
  width: 41px;
}

#stats td {
  height: 38px;
  text-align: center;
}

#middle {
  margin-top: 8px;
  margin-left: 38px;
  margin-right: 37px;
  overflow: hidden;
}

#m1 {
  margin-top: 3px;
  margin-left: 8px;
  width: 512px;
  height: 207px;
  float: left;
}

#m2 {
  margin-left: 545px;
  margin-top: 25px;
  width: 560px;
  height: 168px;
}

#m2 #i {
	width: 35px;
}

#m2 th:first-child {
  width: 203px;
}

#m3 {
  margin-top: 10px;
  margin-left: 8px;
  width: 235px;
  height: 162px;
  float: left;
}

.small_th {
  font-size: 10px;
  text-align: left;
  vertical-align: top;
  width: 47px;
}

#m4 {
  margin-top: 20px;
  margin-left: 40px;
  font-weight: bold;
  float: left;
}

.armour {
  width: 235px;
  height: 129px;
  text-align: center;
  margin-top: 10px;
}

#m5 {
  width: 560px;
  height: 168px;
  margin-top: 10px;
  margin-left: 28px;
  float: left;
}

#m5 th:first-child {
  width: 203px;
}

#m5 .tk, #m2 .tk {
  width: 48px;
  font-size: 12px;
}

#m5 .dyst {
	width: 35px;
}

#down_left {
  width: 235px;
  margin-left: 8px;
  float: left;
}

#dl3 {
  height: 77px;
  margin-top: 10px;
}

#dl4 {
  height: 80px;
 	margin-top: 5px; 
}

#dl4 th {
  width: 50px;
}

#dl4 td {
  width: 25px;
  text-align: center;
  font-weight: bold;
}

#down_middle {
  float:left;
  margin-left: 10px;
}

#obraz_dol1 {
  margin-top: -10px;
  width: 227px;
  height: 488px;
  background: url("../img/obraz_1_dol.jpg");
  float: left;
}

#down_right {
	margin-top: 25px;
  margin-left: 10px;
  float: left;
}

#down_right table {
	width : 100%;
}

#obraz_dol2 {
  width: 385px;
  height: 340px;
  background: url("../img/obraz_2_dol.jpg");
  margin-bottom: 13px;
}

#ramka_dol {
  width: 1192px;
  height: 39px;
  background: url("../img/ramka_dol.jpg");
  clear: both;
}

.skills td {
	vertical-align: top;
	padding: 0;
	margin: 0;
	width: 207px;
}